@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}

/* Custom */
/* .codeblock {
    background: #212123;
}
.codeblock pre {
    background: #27272a !important;
} */
.prose :where(pre):not(:where([class~=not-prose] *)) {
  border-radius: 15px;
}
.disclaimer {
  display: none !important;
}
.sender {
  position: absolute;
  top: 8px;
  right: -11px;
  font-size: 12px;
  opacity: .2;
}
pre code {
  background: transparent !important;
}

/* code span {
    background: #212123 !important;
} */